//- doctype html
//- html
//-   head
//-     title= title
//-     link(rel='stylesheet', href='/css/style.css')
//-   body
//-     h1 Welcome to #{title}
//-     p This is a boilerplate for Express with Pug.
//-     ul
//-       each food in foods
//-         li
//-           p #{food}

//- Index.pug
extends layouts/main-layout.pug
block content
    p This content is from index.pug!
block more_content
    p More content from index.pug!!